body {
	margin: 0 auto;
	font-family: Roboto, sans-serif;
	z-index: 9999;
}

a {
	text-decoration: none;
	color: #fb0000;
}

img {
	padding-right: 5px;
	vertical-align: middle;
}

h6 {
	color: #303030;
	font-size: 10px;
	padding-top: 0;
}
/*-----------------------------------------*/

.top-bar {
	border-bottom: 10px solid red;
	padding: 35px;
	font-size: 14px;
	font: Roboto, #fb0000;
}

.shoe-links, .site-links {
	display: inline;
}

.shoe-links > a {
	font-weight: bold;
	padding-left: 10px;
}

.site-links {
	float: right;
	font-size: 12px;
	padding-top: 5px;
}

/*-------------------------------------*/

.product-display {
	background: linear-gradient(to right, #fb0000, orange);
	color: white;
	padding: 40px 40px;
}

.product-display > a {
	font-size: 11px;
	color: white;
}

.shoe-text {
	width: 50%;
	float: right;
	padding-right: 40px;
}

/*----------------------*/

.product-description {
	color: black;
	padding: 40px 40px;
	margin-left: 80px;
}

.description-bar > ul > li, .description-bar > ul > li.reviews-on-right {
	display: inline;
	border-bottom: 1px solid red;
}

.description-bar > ul > li.reviews-on-right {
	float: right;
}

.product-description > p {
	color: #a9a9a9;
}

/*-------------------------------*/

.related-products {
	background: linear-gradient(to right, #fb0000, orange);
	color: white;
}

.related-products > h2 {
	padding: 20px;
	background-color: #ffb6c1;
	color: black;
	text-align: center;
}

.related-products > ul {
	display: inline-block;
	padding:20px 60px;
}

.related-products > ul > li  {
	display: block;
	padding-top: 5px;
	padding-bottom: 0;
	text-align: left;
}
/*--------------------------------*/
.footer {
	padding: 35px;
	font-size: 14px;
}

.shoe-links, .fine-print {
	display: inline;
}

.shoe-links {
	font-weight: bold;
}

.fine-print {
	float: right;
	font-size: 12px;
	padding-top: 5px;
}